<!-- TODO Move the subheadings and child items to a service so this can be shared with the demo
     components for other themes. Right now this same list is hard-coded in minimal_demo_theme -->
<mat-nav-list>
  <a mat-list-item routerLink="/workflows/view-concepts">Concepts</a>
  <div matSubheader [style.color]="matListSubheaderColor">CAPABILITY AREAS</div>
  <a *ngFor="let area of CAPABILITY_AREAS" mat-list-item routerLink="/capability-areas/{{area.id}}">{{area.label}}</a>
  <div matSubheader [style.color]="matListSubheaderColor">GUIDES</div>
  <a *ngFor="let guide of GUIDES" mat-list-item routerLink="/guides/{{guide.id}}">{{guide.label}}</a>
  <div matSubheader [style.color]="matListSubheaderColor">INTERFACES</div>
  <a *ngFor="let interface of INTERFACES" mat-list-item routerLink="/interfaces/{{interface.id}}">{{interface.label}}</a>
  <div matSubheader [style.color]="matListSubheaderColor">MISC COMPONENTS</div>
  <a mat-list-item routerLink="/components/form-fields">cyber-ui-form-fields</a>
  <div matSubheader [style.color]="matListSubheaderColor">TASK PROVIDERS</div>
  <a mat-list-item routerLink="/task-providers/mindfully-attend-to-topic">mindfully-attend-to-topic</a>
  <div matSubheader [style.color]="matListSubheaderColor">TASK DISPLAY COMPONENTS</div>
  <a mat-list-item routerLink="/components/minimal-task-card">cyber-ui-minimal-task-card</a>
  <div matSubheader [style.color]="matListSubheaderColor">WORKFLOWS</div>
  <a mat-list-item routerLink="/workflows/add-thing">add-thing</a>
  <a mat-list-item routerLink="/guides/systemization" fragment="workflow">systemize</a>
  <a mat-list-item routerLink="/workflows/work-on-tasks">work-on-tasks</a>
</mat-nav-list>
