<mat-list>
  <mat-list-item>INTERFACES</mat-list-item>
  <mat-list-item><a routerLink="/interfaces/task">Task</a></mat-list-item>
  <mat-list-item>MISC COMPONENTS</mat-list-item>
  <mat-list-item><a routerLink="/components/form-fields">cyber-ui-form-fields</a></mat-list-item>
  <mat-list-item>TASK DISPLAY COMPONENTS</mat-list-item>
  <mat-list-item><a routerLink="/components/minimal-task-display">cyber-ui-minimal-task-display</a></mat-list-item>
  <mat-list-item><a routerLink="/components/minimal-task-card">cyber-ui-minimal-task-card</a></mat-list-item>
  <mat-list-item>TASK WORKFLOWS</mat-list-item>
  <mat-list-item><a routerLink="/workflows/work-on-tasks">cyber-ui-work-on-tasks-workflow</a></mat-list-item>
</mat-list>
