:host {
  display: flex;
  flex-direction: column;
  // Needed so the mat-sidenav can occupy the full screen height
  height: 100%;
}

mat-sidenav-container {
  // Needed so the mat-sidenav can occupy the full screen height
  flex: 1;
}

mat-sidenav-content {
  padding: 16px;
}
