<mat-nav-list>
  <a mat-list-item routerLink="/">Home</a>
  <div matSubheader>INTERFACES</div>
  <a *ngFor="let interface of INTERFACES" mat-list-item routerLink="/interfaces/{{interface.id}}">{{interface.label}}</a>
  <div matSubheader>MISC COMPONENTS</div>
  <a mat-list-item routerLink="/components/form-fields">cyber-ui-form-fields</a>
  <div matSubheader>TASK DISPLAY COMPONENTS</div>
  <a mat-list-item routerLink="/components/minimal-task-display">cyber-ui-minimal-task-display</a>
  <a mat-list-item routerLink="/components/minimal-task-card">cyber-ui-minimal-task-card</a>
  <div matSubheader>TASK WORKFLOWS</div>
  <a mat-list-item routerLink="/workflows/work-on-tasks">cyber-ui-work-on-tasks-workflow</a>
</mat-nav-list>
