<mat-toolbar
    color="primary"
    *ngIf="themeService.currentThemeId === 'material'"
    [style.backgroundColor]="themeService.topToolbarBackgroundColor">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon class="menu">menu</mat-icon>
  </button>
  <span routerLink="/">Cyber UI</span>
  <span class="external-links">
    <a mat-button href="https://github.com/pshields/cyber_ui">
      GitHub
      <mat-icon>open_in_new</mat-icon>
    </a>
  </span>
  <button mat-icon-button (click)="openSettings()">
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container
    *ngIf="themeService.currentThemeId === 'material'"
    [style.background]="themeService.appBackground">
  <mat-sidenav
      #sidenav
      opened
      [mode]="sidenavMode"
      [style.background]="themeService.appBackground">
    <component-list></component-list>
  </mat-sidenav>
  <mat-sidenav-content
      [style.background]="themeService.appBackground">
    <div id="main-content-area">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-container *ngIf="themeService.currentThemeId === 'minimal'">
  <router-outlet></router-outlet>
  <minimal-demo-footer></minimal-demo-footer>
</ng-container>
