<h1>Timeboxing</h1>

<p>Cyber UI provides capabilities for timeboxing.</p>

<h2>Demo</h2>

<h3>Active timeboxes</h3>

<p *ngIf="!snapshot || !snapshot.boxes || snapshot.boxes.length === 0">No active timeboxes</p>

<ol *ngIf="snapshot && snapshot.boxes && snapshot.boxes.length > 0">
  <li *ngFor="let box of snapshot.boxes">
    <cyber-ui-timebox-countdown-display [timeboxId]="box.id"></cyber-ui-timebox-countdown-display>
    {{ box | json }}
    <button mat-button (click)="timeboxService.cancelTimebox({id: box.id})">CANCEL</button>
  </li>
</ol>

<div class="demo-controls">
  <button mat-stroked-button (click)="addTimebox()">ADD TIMEBOX</button>
  <button mat-stroked-button (click)="startPomodoro()">START POMODORO</button>
</div>

<p>Note: you can change the default pomodoro length for new pomodoros in the demo app settings.</p>

<p>Note: you can adjust the time remaining in a timebox by clicking on the countdown timer.</p>