@import '~@angular/material/theming';
@import './variables';

@include mat-core();

$cyber-ui-primary: mat-palette($mat-indigo, 800, 700, 900);
$cyber-ui-accent: mat-palette($mat-red, 700, 600, 900);

$cyber-ui-demo-theme: mat-light-theme($cyber-ui-primary, $cyber-ui-accent);

@include angular-material-theme($cyber-ui-demo-theme);

html {
  background-color: $cyber-ui-demo-viewport-background;
  // Needed so the mat-sidenav can occupy the full screen height
  height: 100%;
}

body.cyber-ui-material-theme {
  margin: 0;
  // Needed so the mat-sidenav can occupy the full screen height
  height: 100%;

  #main-content-area {
    // Override the default 14px set by mat-typography, in order to avoid
    // the scrollbars in form fields, and because it looks a little nicer
    // Scrollbar issue: https://github.com/angular/components/issues/10376
    font-size: 16px;
  }
}

mat-expansion-panel-header.mat-expansion-panel-header {
  // Because Cyber UI does not hard-code fixed expansion panel header heights,
  // this padding is added to provide a reasonable default.
  padding-top: 12px;
  padding-bottom: 12px;
}

// TODO Fix this upstream in Angular Material
.mat-expansion-panel-body:empty {
  padding-bottom: 0;
}

mat-sidenav.mat-drawer {
  border-right: none;

  .mat-drawer-inner-container {
    // Custom scrollbar appearance
    &::-webkit-scrollbar {
      width: 8px;
    }

    &:hover::-webkit-scrollbar-thumb {
      background: map_get($mat-grey, 300);
    }
  }
}

mat-sidenav-content.mat-drawer-content {
  // Remove default background color
  background: none;

  > * {
    // Set a reasonable max with for content
    max-width: 60em;
  }
}
