@import '~@angular/material/theming';
@import './variables';

@include mat-core();

$cyber-ui-primary: mat-palette($mat-deep-purple, 900, 700, 900);
$cyber-ui-accent: mat-palette($mat-red, 700, 600, 900);

$cyber-ui-demo-theme: mat-light-theme($cyber-ui-primary, $cyber-ui-accent);

@include angular-material-theme($cyber-ui-demo-theme);

html {
  background-color: $cyber-ui-demo-viewport-background;
  // Needed so the mat-sidenav can occupy the full screen height
  height: 100%;
}

body {
  margin: 0;
  // Needed so the mat-sidenav can occupy the full screen height
  height: 100%;
}

mat-expansion-panel-header.mat-expansion-panel-header {
  // Because Cyber UI does not hard-code fixed expansion panel header heights,
  // this padding is added to provide a reasonable default.
  padding-top: 12px;
  padding-bottom: 12px;
}

// TODO Fix this upstream in Angular Material
.mat-expansion-panel-body:empty {
  padding-bottom: 0;
}

mat-sidenav.mat-drawer {
  background: none;
}

mat-sidenav-content.mat-drawer-content {
  // Remove default background color
  background: none;

  > * {
    // Set a reasonable max with for content
    max-width: 60em;
  }
}
