<h1>Attention management</h1>

<p>Cyber UI provides capabilities for attention management.</p>

<h2>Demo</h2>

<h3>Attentional agenda</h3>

<p *ngIf="!agenda || !agenda.items || agenda.items.length === 0">Agenda is empty</p>

<ol *ngIf="agenda && agenda.items && agenda.items.length > 0">
  <li *ngFor="let item of agenda.items">
    <cyber-ui-timebox-countdown-display
      *ngIf="item.timeboxId"
      [timeboxId]="item.timeboxId">
    </cyber-ui-timebox-countdown-display>
    {{item.label}}
    <button mat-button (click)="item.clear()">CLEAR</button>
  </li>
</ol>

<div class="stacked-form-fields">

  <mat-form-field>
    <input matInput placeholder="Item label" [(ngModel)]="demoAgendaItemInput">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Item routerLink (optional)" [(ngModel)]="demoAgendaItemRouterLink">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Timebox length in minutes (leave blank for no timebox)" [(ngModel)]="demoAgendaItemTimeboxDuration">
  </mat-form-field>

</div>

<div class="demo-controls">
  <button mat-stroked-button (click)="addItemToAgenda()">ADD ITEM TO AGENDA</button>
</div>

<h3>Attentional agenda using <code>cyber-ui-attentional-agenda-display-component</code></h3>

<cyber-ui-attentional-agenda-display [agenda]="agenda">
</cyber-ui-attentional-agenda-display>